<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SEGUNDO_PARCIAL_SEGUNDA_FORMA.Properties.Settings.CorreosDBConnectionString"
            connectionString="Data Source=MIKISPC\SQLEXPRESS;Initial Catalog=CorreosDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>